{% extends 'carreras/layout.html' %}

{% block title %}
   Carreras
{% endblock %}

{% block body %}
        <h1 class="display-3"> Bienvenido a la pantalla de Carreras </h1>
        <div class="row">
            <div class="col-6">
                <h3>Carreras</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Carrea</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for carrera in carreras %}
                            <tr>
                                <td>{{carrera.nombre}}</td>
                                <td>
                                    <a href="#{{carrera}}" class="btn btn-info">Ver</a>
                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="col-6">
                <h3>Formulario de Creacion de Carrera</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}       
                    <button type="submit" class="btn btn-primary mt-2">Agregar</button>
                </form>
                {% if ok %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading"></h4>
                        <p>La carrera se creo correctamente</p>
                        <p class="mb-0"></p>
                    </div>
                 {% endif %}

                <!-- <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group w-25">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre de la Carrera" required>
                    </div>
                    <div class="form-group w-25">
                        <label for="duracion">Duracion</label>
                        <input type="number" min="0" max="3" name="duracion" id="duracion" placeholder="Duracion de la Carrera">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Agregar</button>
                </form>
                {% if ok %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading"></h4>
                        <p>La carrera se creo correctamente</p>
                        <p class="mb-0"></p>
                    </div>
                {% endif %} -->
            </div>
        </div>

{% endblock %}


       